<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reminder(); as reminderRef) {
      <div>
        <h2 data-cy="reminderDetailsHeading"><span>Reminder</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ reminderRef.id }}</span>
          </dd>
          <dt><span>Title</span></dt>
          <dd>
            <span>{{ reminderRef.title }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ reminderRef.description }}</span>
          </dd>
          <dt><span>Due Date</span></dt>
          <dd>
            <span>{{ reminderRef.dueDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Is Completed</span></dt>
          <dd>
            <span>{{ reminderRef.isCompleted }}</span>
          </dd>
          <dt><span>Priority</span></dt>
          <dd>
            <span>{{ { null: '', LOW: 'LOW', MEDIUM: 'MEDIUM', HIGH: 'HIGH', URGENT: 'URGENT' }[reminderRef.priority ?? 'null'] }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ reminderRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ reminderRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Category</span></dt>
          <dd>
            @if (reminder()!.category) {
              <div>
                <a [routerLink]="['/category', reminder()!.category?.id, 'view']">{{ reminderRef.category?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ reminderRef.user?.id }}</span>
          </dd>
          <dt><span>Tags</span></dt>
          <dd>
            @for (tags of reminderRef.tags; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/tag', tags.id, 'view']">{{ tags?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/reminder', reminderRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
