<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reminder(); as reminderRef) {
      <div>
        <h2 data-cy="reminderDetailsHeading"><span>Reminder</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ reminderRef.id }}</span>
          </dd>
          <dt><span>Title</span></dt>
          <dd>
            <span>{{ reminderRef.title }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ reminderRef.description }}</span>
          </dd>
          <dt><span>Due Date</span></dt>
          <dd>
            <span>{{ reminderRef.dueDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Completed</span></dt>
          <dd>
            <span>{{ reminderRef.completed }}</span>
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ reminderRef.user?.login }}</span>
          </dd>
          <dt><span>Category</span></dt>
          <dd>
            @if (reminder()!.category) {
              <div>
                <a [routerLink]="['/category', reminder()!.category?.id, 'view']">{{ reminderRef.category?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/reminder', reminderRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
